@import "tailwindcss";

/** ====== Tokens ====== */
@theme {
  --color-brand:        #D9A441; /*? dorado principal */
  --color-accent:       #EDAE09; /*? acento/CTA */
  --color-inver-accent: #F5F0E8; /*? acento inverso */
  --color-golddeep:     #D4AF37; /*? dorado intenso */
  --color-sand:         #C5A880; /*? arena */
  --color-cream:        #F0E3CC; /*? crema */
  --color-fondo:        #FAF7F2; /*? fondo */

  /*? Neutros */
  --color-oscuro:       #1E1E1E;
  --color-graphite:     #484848;
  --color-white:        #FFFFFF;
}

/** ====== Base ====== */
@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-fondo text-oscuro antialiased; }
}

/** ====== Utilidades ====== */
@utility btn {
  @apply cursor-pointer inline-flex items-center justify-center rounded-4xl px-10 py-2 text-sm font-medium transition duration-300 ease-in-out shadow-2xs;
}
@utility btn-primary {
  @apply btn bg-brand text-white hover:bg-cream hover:text-oscuro focus:outline-none;
}
@utility btn-ghost {
  @apply btn bg-cream text-oscuro hover:bg-brand hover:text-white;
}

@utility btn-selected {
  @apply btn bg-transparent border border-[#c5c5c5] rounded-none hover:bg-accent text-[#6e6e6e] hover:text-white;
}

@utility container-p {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}
@utility card {
  @apply rounded border border-none bg-white shadow-sm;
}
@utility grad-gold {
  @apply bg-gradient-to-r from-brand to-accent text-white;
}
