@import "tailwindcss";

/** ====== Fuentes ====== */
@import "@fontsource-variable/afacad";
@import "@fontsource-variable/playfair-display";

/** ====== Tokens ====== */
@theme {
  /** Colores de Marca */
  --color-primary:      #1F6F61; /*? verde azulado principal */
  --color-secondary:    #1C2B2D; /*? azul grisáceo oscuro */
  --color-bg-light:     #FDFCF9; /*? fondo claro / marfil */
  --color-accent-warm:  #D4B483; /*? arena / dorado cálido */
  --color-neutral:      #E0E0E0; /*? gris neutro claro */

  /*? Neutros */
  --color-dark:         #1C2B2D; /*? oscuro base */
  --color-graphite:     #484848; /*? gris grafito */
  --color-white:        #FFFFFF; /*? blanco */

  /* * Tipografías */
  --font-sans: "Afacad Variable", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans";
  --font-display: "Playfair Display Variable", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/** ====== Base ====== */
@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-bg-light text-dark antialiased font-sans; }
  h1,h2,h3,.font-display { @apply font-display; }
}

/** ====== Utilidades ====== */
/* ? Botones */
@utility btn {
  @apply cursor-pointer inline-flex items-center justify-center rounded-4xl px-10 py-2 text-sm font-medium transition duration-300 ease-in-out shadow-2xs;
}
@utility btn-primary {
  @apply btn bg-primary text-white hover:bg-accent-warm hover:text-dark focus:outline-none;
}
@utility btn-ghost {
  @apply btn bg-neutral text-dark hover:bg-primary hover:text-white;
}

@utility btn-selected {
  @apply btn bg-transparent border border-[#c5c5c5] rounded-none hover:bg-secondary text-[#6e6e6e] hover:text-white;
}

/* ? Iconos */
@utility iconPrincipal {
  @apply w-7 h-auto;
}

@utility iconSecundario {
  @apply w-5 h-auto;
}

@utility iconSocial {
  @apply w-6 h-auto;
}

@utility iconDestacado {
  @apply w-80 h-auto;
}

/* ? Contenedores */
@utility container-p {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}
@utility card {
  @apply rounded border border-none bg-white shadow-sm;
}
@utility grad-primary {
  @apply bg-gradient-to-r from-primary to-secondary text-white;
}

/* ? Tipografias */
@utility h1 { @apply font-display font-bold tracking-tight;}
@utility h2 { @apply font-display font-semibold tracking-tight;}
@utility lead { @apply text-lg text-graphite;}
